* {
  box-sizing: border-box;
}

body {
  background-color: #A9A9A9;
  font-family: Arial;
}

img {
  width: 100%;
}
.container{
  display: block;
  margin: auto;
  max-width: 1200px;
  position: relative;

}

.container::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #276288;
  top: 0;
  bottom: 0;
  left: 50%;
  /* margin-left: -3px; */
}


.box {

  width: 42%;
  background-color: white;
  position: relative;
  border-radius: 3px;
  margin: 55px;

  box-shadow: 0px 5px 5px #6A6A6A;

}

.box-1 , .box-3 {
  padding: 20px;
}
/* all boxes h1 positioning */

.box h1 {
  /* padding-left: 20px; */

}
/************************************************************* arrows */

.content-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 47px;
  width: 0;
  right: -9px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.content-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 37px;
  width: 0;
  left: -10px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}


/***************************************** circles for left side boxes */
.box::after {
  content: "";
  position: absolute;
  width: 29px;
  height: 29px;
  right: -58px;
  background-color: #276288;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/******************************************* circles for right side box */

div.box-2::after {
  left: -66px;
}







 /* box 2 h1 color  */
.box-2 h1 {
  color: #FFF;
  background-color: transparent;
  padding-left: 20px;

  position: absolute;
  transform: translateY(-212%);

}

.box-2 .separate {
  padding-left: 20px;
  padding-top: 20px;
}



/******************************************************** box 2 positiong */

.box-2 {
  left: 50%;
}


.date {
  display: inline-block;

  background-color: #EC515C;
  color: white;
  padding: 10px;



}


/*********************************************************** date positioning */
.date-1 , .date-3 {
  position: absolute;
  right: 0px;
  top: 0px;
}

.date-2 {
  position: absolute;
  left: 0px;
  top: 0px;
}

.box1-content{
  padding: 10px 0px;
}

.box-1 .more {
padding-top: 20px;

}


.box-2 .more {
  padding: 20px 0px;
}


.more button {
  background-color: #276288;
  color: white;
  padding: 5px 15px;
  font-size: 12px;
}
